@import '~antd/dist/antd.min.css';

.App {
  background: #f6f6f6;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.wrap {
  width: 1080px;
  margin: 0 auto;
}

.ant-btn-primary {
  background: #CF002C !important;
  border: #CF002C;
}

.ant-btn-primary:hover {
  background: #CF002C;
}
.ant-input-affix-wrapper-focused {
  border-color: transparent !important;
  outline: transparent;
}

.ant-input-wrapper {
  border: 2px solid #CF002C;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child {
  left: 1px;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child:hover {
  outline: none;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child:focus {
  border: none;
  outline: none;
}

.input-number{
  width: 100px;
}

.ant-tabs-tabpane {
padding-left: 0 !important;
}

.ant-row {
  align-items: center;
}
