.headerWrap {
    height: 40px;
    line-height: 40px;
    background: #eee;
    margin-bottom: 40px;
}

.headerCartWrap {
    text-align: right;
}

.registerLink {
    margin-left: 10px;
}

.accountToLogin {
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: right;
}