.headerWrap {
    height: 40px;
    line-height: 40px;
    background: #eee;
    margin-bottom: 40px;
}

.headerCartWrap {
    display: flex;
    justify-content: flex-end;
    color: #999;
}

.userInfoWrapperHeader {
    display: flex;
}
.userInfoWrapperHeader a{
    color: #999999;
}
.userInfoWrapperHeader div {
    color: #999999;
}

.registerLink {
    margin-left: 10px;
}

.accountToLogin {
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: right;
}

.uiMarginLeft {
    margin-left: 20px;
}

.headerCartWrap div {
    cursor: pointer;
}