.orderListWrapper {
    margin-top: 10px;
}

.orderListWrapper .ant-table-tbody>tr>td, .ant-table-thead>tr>th, .ant-table tfoot>tr>td, .ant-table tfoot>tr>th {
    padding: 10px;
}

 .ant-tabs {
    height: auto !important;
}
 .basicInfoShow {
     line-height: 30px;
     height: 30px;
 }

 .basicInfoShow .titleSpan {
     width: 100px;
     display: inline-block;
     text-align: justify;
 }
 .orderDetailContainer {
     padding-bottom: 100px;
 }

 .orderDetailContainer .ant-table-footer {
     text-align: right;
 }

 .totalPriceOrder {
     font-weight: 700;
     color: #c60023;
 }