

.styleSingle {
    /*width: 220px;*/
    height: 220px;
    /*background: #1890ff;*/
    overflow: hidden;
    position: relative;
    background: #ffffff;
    cursor: pointer;
}

.productWrap .rowContainer {
    /*height: 50px;*/
    /*line-height: 50px;*/
}

.productWrap .titleName {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #d58717;
    margin-bottom: 10px;
}

.ant-col-5 {
    flex: 0 0 20% !important;
}

.productListItem {
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: 80%;
    height: 75%;
    border: none;
}
.floorText {
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 16px;
    color: #5e5e5e;
}

.productListWrap {
    min-height: 300px;
    border-top: 2px solid #CF002C;
    margin-top: 30px;
}

.breadcrumbContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    /*background: #fff;*/
}

.buttonWrapProductList .ant-radio-button-checked  {
    background: #CF002C;
    outline: none;
    border: none;
}

ant-radio-button-wrapper:hover {
    color: #333;
}
.priceContainer {
    font-size: 16px;
    color: #CF002C;
}

.listItem {
    position: relative;
    width: 180px;
    padding: 10px;
    margin: 0 20px 20px 0;
    float: left;
    cursor: pointer;
    background: #fff;
    transition: box-shadow .5s ease;
}
.listContainer {
    overflow: hidden;
    margin-top: 20px;
    min-height: 305px;
}
.nameContainer {
    height: 40px;
    overflow: hidden;
}

.itemImage {
    width: 160px;
    height: 200px;
}

.paginationWrap {
    text-align: center;
    padding-bottom: 20px;
}