

.styleSingle {
    /*width: 220px;*/
    height: 220px;
    /*background: #1890ff;*/
    overflow: hidden;
    position: relative;
    background: #ffffff;
    cursor: pointer;
}

.productWrap .rowContainer {
    /*height: 50px;*/
    /*line-height: 50px;*/
}

.productWrap .titleName {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #d58717;
    margin-bottom: 10px;
}

.ant-col-5 {
    flex: 0 0 20% !important;
}

.productListItem {
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: 80%;
    height: 75%;
    border: none;
}
.floorText {
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 16px;
    color: #5e5e5e;
}
.productWrap {
    padding-bottom: 100px;
}
.productListWrap {
    min-height: 300px;
    border-top: 2px solid #CF002C;
    margin-top: 30px;
    padding-bottom: 100px;
}

.buttonWrapProductList .ant-radio-button-checked  {
    background: #CF002C;
    outline: none;
    border: none;
}
.detailWrap {
    display: flex;
}

.detailWrap .productInfoWrap {
    padding: 0 15px;
}


ant-radio-button-wrapper:hover {
    color: #333;
}
.priceContainer {
    font-size: 16px;
    color: #CF002C;
}

.listItem {
    position: relative;
    width: 180px;
    padding: 10px;
    margin: 0 20px 20px 0;
    float: left;
    cursor: pointer;
    background: #fff;
    transition: box-shadow .5s ease;
}
.listContainer {
    overflow: hidden;
    margin-top: 20px;
    min-height: 305px;
}
.nameContainer {
    height: 40px;
    overflow: hidden;
}

.itemImage {
    width: 160px;
    height: 200px;
}

.paginationWrap {
    text-align: center;
    padding-bottom: 20px;
}

.productDetailContainer {
    margin-top: 20px;
    min-height: 305px;
    padding-bottom: 100px;
}

.imageContainer {
    width: 422px;
}

.imageContainer .mainImage {
    height: 400px;
    border: 1px solid #ddd;
}

.thumbnailWrap {
    height: 78px;
    margin-top: 5px;
    margin-right: -10px;
    overflow: hidden;
    display: flex;
}

.thumbnailWrap .nailItem {
    /*width: 74px;*/
    height: 74px;
    float: left;
    margin-right: 10px;
    /*border: 2px solid #eee;*/
    cursor: pointer;
    display: flex;
}
.thumbnailWrap .nailItem .ant-image {
    margin-right: 10px;
}
.thumbnailWrap .nailItem .ant-image img  {
    width: 100%;
    height: 100%;
}
.thumbnailWrap .nailItem img {
    width: 100%;
    height: 100%;
}

.productInfoWrap .name {
    font-size: 20px;
    color: #333333;
}

.productInfoWrap .subTitle {
    color: #c60023;
    line-height: 30px;
    font-size: 15px;
}

.productInfoWrap .priceCon {
    padding: 10px;
    background: #eee;
    margin-top: 20px;
}

.productInfoWrap .priceCon .price {
    font-size: 18px;
    color: #CF002C;
}
.productInfoWrap .priceCon .label {
    display: inline-block;
    width: 50px;
    color: #999;
}
.productInfoWrap .quantityCon {
    position: relative;
    margin-top: 20px;
    padding: 0 10px;
}

.addBasketButton {
    position: relative;
    margin-top: 20px;
    padding: 0 10px;
}
.btnAddCart {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background-color: #c60023;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.chooseCountContainer {
    position: relative;
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.chooseCountContainer .label {
    display: inline-block;
    width: 50px;
    color: #999;
}

.chooseCountContainer .currentCount {
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    width: 45px;
    text-align: center;
    outline: none;
    border: 1px solid #aaa;
    margin-right: 10px;
}

.addOrMinusCount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 36px;
}

.btnChangeCount {
    display: block;
    width: 20px;
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    border: 1px solid #aaa;
    background: #fff;
    cursor: pointer;
}

.detailContentBottom {
    margin-top: 15px;
}

.detailContentBottom {
    background: #eee;
    border: 1px solid #ddd;
    border-bottom: 1px solid #c60023;
}

.detailInfoTitle {
    width: 80px;
    height: 30px;
    line-height: 30px;
    /*padding: 10px;*/
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.informationDetailProduct {
    min-height: 100px;
    background: #fff;
    text-align: center;
    padding-top: 10px;
}

.chooseBorderStyle {
    border: 2px solid #CF002C !important;
}